osx_image: xcode9
language: objective-c
before_install:
 - gem install cocoapods xcpretty --no-rdoc --no-ri --no-document --quiet
 - pod install --project-directory=Example --repo-update
script:
  - set -o pipefail && xcodebuild -workspace 'Example/RxMKMapView.xcworkspace' -scheme 'RxMKMapView-Example' -configuration 'Debug' -destination 'platform=iOS Simulator,name=iPhone 7,OS=10.0' -sdk iphonesimulator build test  | xcpretty -c
